---
services:
  jackett:
    image: linuxserver/wireguard:amd64-latest
    container_name: jackett
    cap_add:
      - NET_ADMIN
#      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
    volumes:
# sudo apt install wireguard
# sudo apt install curl
# sudo apt install jq
# sudo apt install net-tools
# sh <(curl -sSf https://downloads.nordcdn.com/apps/linux/install.sh)
# sudo nordvpn login
# sudo nordvpn set technology nordlynx
# ip address nordlynx -> something like 10.5.0.2 to copy to wg0.conf
# curl -s "https://api.nordvpn.com/v1/servers/recommendations?&filters\[servers_technologies\]\[identifier\]=wireguard_udp&limit=1"|jq -r '.[]|.hostname, .station, (.locations|.[]|.country|.city.name), (.locations|.[]|.country|.name), (.technologies|.[].metadata|.[].value), .load'
#
      - "./wireguard/config:/config"
#      - "/lib/modules:/lib/modules"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    ports:
      - 9117:9117
    restart: unless-stopped
  deluge:
    image: linuxserver/deluge:amd64-latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
      - DELUGE_LOGLEVEL=error  
    volumes:
      - "./deluge/config:/config"
      - "/tmp/deluge:/downloads"
      - "/plexmedia:/plexmedia"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 8112:8112
      - 7231:7231
      - 7231:7231/udp
    restart: unless-stopped
  bazarr:
    image: linuxserver/bazarr:amd64-latest
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
    volumes:
      - "./bazarr/config:/config"
      - "/plexmedia/films:/movies"
      - "/plexmedia/shows:/tv"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 6767:6767
    restart: unless-stopped
  radarr:
    image: linuxserver/radarr:amd64-latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
    volumes:
      - "./radarr/config:/config"
      - "/plexmedia/films:/movies"
      - "/plexmedia/downloads:/downloads"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 7878:7878
    restart: unless-stopped
  sonarr:
    image: linuxserver/sonarr:amd64-latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
    volumes:
      - "./sonarr/config:/config"
      - "/plexmedia/shows:/tv"
      - "/plexmedia/downloads:/downloads"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 8989:8989
    restart: unless-stopped
  lidarr:
    image: linuxserver/lidarr:amd64-latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
    volumes:
      - "./lidarr/config:/config"
      - "/plexmedia/music:/music"
      - "/plexmedia/downloads:/downloads"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 8686:8686
    restart: unless-stopped
  readarr:
    image: linuxserver/readarr:0.4.19-nightly
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
    volumes:
      - "./readarr/config:/config"
      - "/plexmedia/books:/books"
      - "/media/medianuc4T4/oldradeonssd:/radeonssd"
      - "/media/medianuc4T1:/medianuc4T1"
      - "/media/medianuc4T2:/medianuc4T2"
      - "/media/medianuc4T3:/medianuc4T3"
      - "/media/medianuc4T4:/medianuc4T4"
    ports:
      - 8787:8787
    restart: unless-stopped
  actual-jackett:
    image: linuxserver/jackett:amd64-latest
    container_name: actual-jackett
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=000
      - TZ=Europe/London
      - AUTO_UPDATE=true
#     - RUN_OPTS=   
    volumes:
      - "./jackett/config:/config"
      - "/plexmedia/downloads:/downloads"
    network_mode: "service:jackett"
    restart: unless-stopped
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: "108:65534"
    group_add:
      - "106"
    ports:
      - 8096:8096
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
      - /dev/dri/card0:/dev/dri/card0
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - /plexmedia:/media:ro
      - /media/medianuc4T1/plexmedia:/media2:ro
      - /media/medianuc4T2/plexmedia:/media3:ro
      - /media/medianuc4T3/plexmedia:/media5:ro
      - /media/medianuc4T4/plexmedia:/media6:ro
      - /media/medianuc4T4/oldradeonssd:/media4:ro
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  calibre:
    image: linuxserver/calibre:amd64-latest
    container_name: calibre
#    security_opt:
#      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    #  - PASSWORD=
    #  - CLI_ARGS=
    volumes:
      - ./calibre/config:/config
      - /media/medianuc4T2:/medianuc4T2
    ports:
      - 8888:8080
      - 8889:8181
      - 8890:8081
      - 8891:8891
    restart: unless-stopped
